*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(new3.webp);
    background-size: cover;
    background-color: rgba(201, 164, 235,0.9);
}

.newuser{
    display: block;
    gap: 20px;
    justify-content: safe;
    color: white;
    text-align: center;
    padding-left: 500px;
    height: 200px;
    width: 10%;
    padding: 100px;
    margin-top: 100px;
    margin-bottom: 500px;
    border-radius: 14px;
    position: fixed;
    top: 1px;
    left: 37%;
   background-color: rgba(94, 77, 110, 0.42);
   
}
#btn2{
    margin-top: 20px;
    width: 70px;
    margin-bottom: 30px;
}
#btn2:hover{
    background-color: rgba(201, 164, 235,0.5);
    box-shadow: 15px 18px rgba(201, 164, 235,0.7);
}
#name {
   
    margin-bottom: 10px;
}
#email1{
    margin-bottom: 20px;
}
#password{
    margin-top: 20px;
}
#al{ height: 50px;
    width: 70px;
    margin-top:30px;
    color:white;
font-weight: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#al:hover{
    letter-spacing: 20px;
    cursor: pointer;
    color: rgba(255, 0, 0,0.7);
}
a:link{
    text-decoration: none;
}
.up{
    font-family: Impact;
    width: 50px;
    margin-bottom: 30px;
    text-align: center;
}